{% extends 'base.html' %}

{% block content %}
<h4> 
{{message.receptor}}
</h4>
<p>
{{message.message}}
</p>
<button style = "background-color : #59e ; border-radius : 8px">
<a style = "display : block;text-decoration : none ; color : black ; margin : 0.5rem" href = {% url 'update' message.pk %}>
Update
 </a>
 </button>
 <button style = "background-color : #e00 ; border-radius : 8px"> 
<a style = "display : block;text-decoration : none ; color : black ; margin : 0.5rem" href = {% url 'delete' message.pk %}>
Delete
 </a>
 </button>
{% endblock content %}